/* Regular Screen Sizes */
@media (min-width: 769px) 
{
	/* Navbar */
	#menu 
	{
		width: 100%;
	}
	#menu .navbar-brand
	{
		font-size: 28px;
		font-weight: bold;
	}
	#menu .nav
	{
		font-weight: bold;
		font-size: 18px;
		text-align: center;
	}
	#menu .navbar-nav
	{
		display: inline-block;
		float: none;
	}
	#menu .navbar-nav li
	{
		padding-right: 40px;
	}
	#menu #social-media #icons
	{
		padding-top: 3px;
		padding-right: 5px;
		
	}
	/* Main */
	#map
	{
		background-color: #999999;
		width: 600px;
		height: 400px;
		box-shadow: 0px 0px 15px 0px #999999;
	}
	#news #feed
	{
		background-color: #999999;
		width: 500px;
		height: 400px;
	}
	#contact
	{
		width: 45%;
		display: block;
	}
	body
	{
		text-align: center;
	}
	#window
	{
		padding-top: 150px;
		width: 100%
	}
	#about
	{
		padding: 40px;
		margin-top: 30px;
	}
}
/* Screen Size independent */
*
{
	padding: 0px;
	margin: 0px auto;
}
::-webkit-input-placeholder
{
   color: #808080;
   text-align: left;
}
:-moz-placeholder
{
   color: #808080;
   text-align: left;
}
.anchor
{
	position: relative;
	padding-top: 50px;
	margin-top: -50px;
}
#menu #social-media #icons .fa-facebook-official
{
	text-decoration: none;
	color: #3B5998;
}
#menu #social-media  #icons .fa-facebook-official:hover
{
	color: #666666;
}
#menu .navbar-brand
{
	color: black;
}
#menu .navbar-brand:hover
{
	color: #666666;
}
#menu #links a:hover
{
	color: #666666;
}
#contact-form
{
	display: block;
	width: 80%;
	text-align: left;
}
#contact .btn 
{
	text-align: center;
}
#news
{
	z-index: 0;
}
#news #promo 
{
	background-color: #999999;
}
#shop
{

}
footer 
{
	height: 100%;
	width: 100%;
	background-color: #EEE;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
footer #company
{
	margin-top: 30px;
}
footer #subscribe
{
	margin-top: 30px;
	padding: 10px;
	height: 60px;
	width: 380px;
	display: block;
}